extends layout

block content
  h1= title
  h2 Case Studies

  .project-container
   h3.project-title Bloomberg Media
   a(href='http://www.bloombergmedia.com').project-link View Website
   a(href='https://github.com/thecharles/bloomberg').project-repo View GitHub Repo
